@inject IDialogService DialogService

<div class="register-button">
    <MudButton href="/register-account" Variant="Variant.Filled" Color="Color.Tertiary" Class="">Register</MudButton>
</div>

@code {


}