@inject IDialogService DialogService

<div class="register-button">
    <MudButton @onclick="OpenDialogAsync" Variant="Variant.Filled" Color="Color.Tertiary" Class="">Register</MudButton>
</div>

@code {

    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<RegisterModal>("Simple Dialog", options);
    }

}