<MudGrid Class="mt-3 d-flex mb-4" Style="background-color: #eccccf" Justify="Justify.Center">
    <MudItem xs="12" sm="6">
        #Avatar#
        @Username
    </MudItem>
    <MudItem xs="12" sm="5" Class="me-1" Style="text-align: right">
        <p>@PostDate</p>
    </MudItem>
    <MudItem xs="12" Class="mb-4">
        <MudCard Outlined="true" Square="true">
            <MudCardContent Style="background-color: #eccccf">
                <MudText Typo="Typo.body2">@Content</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>


@code {

    [Parameter] public string Content { get; set; }
    [Parameter] public DateTime PostDate { get; set; }
    [Parameter] public string Username { get; set; }
}