<MudGrid Class="mt-3 d-flex" Style="background-color: #eccccf" Justify="Justify.Center">
    <MudItem xs="12" sm="6">
        #Avatar#
        #Username
    </MudItem>
    <MudItem xs="12" sm="6" Style="text-align: right">
        <p>#PostDate#</p>
    </MudItem>
    <MudItem>
        <MudItem Class="mt-3">
            #POSTCONTENT
        </MudItem>
    </MudItem>
</MudGrid>


@code {

}