@using ShoutOut.WebApp.Components.Utils
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider/>
<MudPopoverProvider/>

@* Needed for dialogs *@
<MudDialogProvider/>
@* Needed for snackbars *@
<MudSnackbarProvider/>


<div class="page">
    <MudLayout Class="d-flex">
        <MudAppBar Color="Color.Dark" Class="d-flex justify-content-between">
            <div class="d-flex me-auto">
                <ShoutOutLogo/>
            </div>
            <div class="d-flex ms-auto">
                <Login/>
                <RegisterAccountButton/>
            </div>
        </MudAppBar>

        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
